* {
  padding: 0;
  margin: 0;
  color: #ffffff;
  -webkit-text-stroke-width: 0.01em;
  -webkit-text-stroke-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#maps {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;
}

.map {
  flex: 1;
  height: 100%;
  width: 50%;
}

button {
  width: 40%;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

#score {
  font-size: 20px;
}

#higher {
  background-color: #11cc11;
}

#higher:hover {
  background-color: #11aa11;
}

#lower {
  background-color: #cc1111;
}

#lower:hover {
  background-color: #aa1111;
}

.map .content {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.map .content .image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.map h1,
.map h2,
.map h3 {
  text-align: center;
}

.buttons {
  text-align: center;
}

.map h3 {
  padding: 20px;
}

.map .background {
  position: absolute;
  z-index: -1;
  height: 100vmax;
  filter: blur(1vmax) brightness(50%);
}

.map .name {
  text-align: center;
}

#score {
  position: absolute;
  bottom: 0;
  right: 0;
}
