* {
  padding: 0;
  margin: 0;
  color: #ffffff;
  -webkit-text-stroke-width: 0.01em;
  -webkit-text-stroke-color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-wrap: stable;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

#maps {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;
}

.map {
  flex: 1 1 50%;
  max-width: 50%;
}

@media (max-width: 100vh) {
  #maps {
    flex-direction: column;
  }
  .map {
    flex: 1 1 100%;
    max-width: none;
    max-height: 50%;
  }
  .map .content {
    height: 100%;
    width: 100vw;
  }
  #map1 .content {
    top: 0;
    padding-top: 5vh;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    width: 100vw;
  }
  #map2 .content {
    padding-top: 5vh;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    width: 100vw;
  }
}

button {
  width: 40%;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

#score {
  font-size: 20px;
}

#higher {
  background-color: #11cc11;
}

#higher:hover {
  background-color: #11aa11;
}

#lower {
  background-color: #cc1111;
}

#lower:hover {
  background-color: #aa1111;
}

.map .content {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.map .content .image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.map h1,
.map h2,
.map h3 {
  text-align: center;
}

.buttons {
  text-align: center;
}

.map h3 {
  padding: 20px;
}

.map .background {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: blur(1vmax) brightness(40%);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.map .name {
  text-align: center;
}

#score {
  position: absolute;
  bottom: 0;
  right: 0;
}
